@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

:root {
	--color-element-oklch: 44.6% 0.043 257.281;
	--color-accent-oklch: 48.8% 0.243 264.376;
}

@theme {
	--font-roboto: "Roboto", sans-serif;

	--color-main: var(--color-white);
	--color-main-text: var(--color-slate-700);
	--color-main-border: var(--color-slate-300);

	--color-element: oklch(var(--color-element-oklch));
	--color-element-bg: oklch(var(--color-element-oklch) / 0);
	--color-element-hover: oklch(var(--color-element-oklch) / 0.1);
	--color-element-active: oklch(var(--color-element-oklch) / 0.15);
	--spacing-element-height: 34px;

	--color-accent: oklch(var(--color-accent-oklch));
	--color-accent-bg: oklch(var(--color-accent-oklch) / 0.1);
	--color-accent-hover: oklch(var(--color-accent-oklch) / 0.15);
	--color-accent-active: oklch(var(--color-accent-oklch) / 0.2);

	--color-sidebar: var(--color-slate-100);
}

#root {
	@apply min-w-screen min-h-screen m-0 bg-main text-main-text font-roboto;
}

.sidebar {
	@apply w-fit h-screen border-r bg-sidebar border-main-border p-5 flex flex-col gap-y-2 items-end;
}

.sidebar-link {
	@apply transition-[width] duration-300 h-element-height cursor-pointer rounded-md flex items-center justify-start px-2 gap-x-2 overflow-hidden;
}

.sidebar-link.expanded {
	@apply w-50;
}

.sidebar-link:not(.expanded) {
	@apply w-element-height;
}

.sidebar-link.active {
	@apply text-accent hover:bg-accent-hover active:bg-accent-active bg-accent-bg;
}

.sidebar-link:not(.active) {
	@apply hover:bg-element-hover active:bg-element-active bg-element-bg;
}

.sidebar-link .sidebar-link-title {
	@apply transition-opacity duration-300;
}

.sidebar-link.expanded .sidebar-link-title {
	@apply opacity-100;
}

.sidebar-link:not(.expanded) .sidebar-link-title {
	@apply opacity-0;
}
